# Created by .ignore support plugin (hsz.mobi)
.DS_Store
.idea/.gitignore
.idea/dictionaries/
.idea/flow_network.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
__pycache__/
min_cost_max_flow.py
